.header__menu
  .container
    ul 
      li.active
        a(href="#") 
          i.icon-home
          |Главная
      li 
        a(href="#")
          i.icon-serv
          |Услуги      
      li 
        a(href="#")
          i.icon-calculate
          |Рассчитать перевозку       
      li 
        a(href="#")
          i.icon-handshake
          |Отзывы       
      li 
        a(href="#")
          i.icon-about
          | О компании       
      li 
        a(href="#")      
          i.icon-contacts
          |Контакты
