.etaps {
  background-color: #f4f6fd;
  padding: rem(30) 0 rem(55);

  @media (max-width: 400px) {
    padding: rem(30) 0;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    counter-reset: etaps;

    @include sm {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 25%;
    padding-top: rem(27);
    position: relative;

    @include sm {
      flex-basis: 50%;
      margin-bottom: rem(20);
    }

    @media (max-width: 400px) {
      flex-basis: 100%;
      width: 100%;
    }

    &:last-child {
      margin: 0;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: etaps;
      content: "0"counter(etaps);
      color: $mc;
      font-size: rem(11);
    }
  }

  &__advantages-wrap {
    max-width: rem(160);
    width: 100%;

    @media (max-width: 400px) {
      max-width: 100%;
    }
  }

  &__animation {
    display: flex;
    margin-top: rem(20);
    position: relative;

    @include md {
      display: none;
    }

    .etaps-plane {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(1);
      right: 100%;
      transition: 7s;
      z-index: 1;

      svg {
        width: 138px;
        height: 150px;
      }

      &.plane-fly {
        right: -4%;
        transform: translateY(-50%) scale(0.4);

        img {
          width: 138px;
        }

      }
    }
  }

  &__dash {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;

    i {
      width: rem(20);
      height: rem(2);
      background-color: #999CA3;
      transition: $tr;
    }

  }

  .smoke1 {
    opacity: 0;
    animation: smoke1 1s infinite;
  }

  .smoke2 {
    opacity: 0;
    animation: smoke2 2s infinite;
  }

  .smoke3 {
    opacity: 0;
    animation: smoke3 3s infinite;
  }

  .smoke4 {
    opacity: 0;
    animation: smoke4 3s infinite;
  }

  .smoke5 {
    opacity: 0;
    animation: smoke5 2s infinite;
  }

  .smoke6 {
    opacity: 0;
    animation: smoke6 3s infinite;
  }

  @keyframes smoke1 {
    0% {
      transform: translateX(20px);
    }

    49% {
      transform: translateX(-7px);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes smoke2 {
    0% {
      transform: translateX(20px);
    }

    49% {
      transform: translateX(-7px);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes smoke3 {
    0% {
      transform: translateX(20px);
    }

    49% {
      transform: translateX(-7px);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes smoke4 {
    0% {
      transform: translateX(20px);
    }

    49% {
      transform: translateX(-7px);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes smoke5 {
    0% {
      transform: translateX(20px);
    }

    49% {
      transform: translateX(-7px);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes smoke6 {
    0% {
      transform: translateX(20px);
    }

    49% {
      transform: translateX(-7px);
    }

    50% {
      opacity: 1;
    }
  }


  &__animation-wrap {
    display: flex;
    width: 100%;
  }

  &__animation-step {
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    transition: $tr;
    position: relative;

    .point {
      width: rem(22);
      height: rem(22);
      position: relative;
      border-radius: 100%;
      background-color: #aab2c3;
      display: block;

      &:after {
        position: absolute;
        content: '';
        width: rem(8);
        height: rem(8);
        border-radius: 100%;
        background-color: $mc;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    &:nth-child(1) {
      .point {
        transition-delay: 1s;
      }

      .etaps__dash {
        i {
          transition-delay: 1s;
        }
      }
    }

    &:nth-child(2) {
      .point {
        transition-delay: 1.5s;
      }

      .etaps__dash {
        i {
          transition-delay: 1.5s;
        }
      }
    }

    &:nth-child(3) {
      .point {
        transition-delay: 2.4s;
      }

      .etaps__dash {
        i {
          transition-delay: 2.4s;
        }
      }
    }

    &:nth-child(4) {
      .point {
        transition-delay: 3.7s;
      }

      .etaps__dash {
        i {
          transition-delay: 3.7s;
        }
      }
    }

    &.distance-traveled {

      i,
      .point {
        background-color: $sc;
      }
    }

    .btn {
      position: relative;
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      transform: scale(0);

      .icon-check {
        margin-right: rem(4);
        background: none;
      }

    }

  }
}