extends layout/main/main
block title
  | faq
block main
  .wrapper
    .content
      include includes/header/header
      .breadcrumbs
        .container
          ul  
            li 
              a(href="#") Главная  
            li FAQ
      .faq
        .container 
          ul
            mixin faq(title, desc)
              li
                .faq__title=title       
                .faq__desc=desc       
            +faq('Сколько кг можно отправлять без уплаты таможенных пошлин?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')
            +faq('Как упаковать посылку?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')
            +faq('Доставляется ли посылка до дома?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')
            +faq('Осуществляется ли доставка в регионы Кыргызстана?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')
            +faq('Можно ли произвести оплату за доставку в Бишкеке?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')
            +faq('Доставляете ли до Казахстана?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')
            +faq('Можно ли делать заказы через интернет-магазины ?', 'В Казахстане мы доставляем только до Алматы. В пределах города Алматы мы привозим груз до дома получателя.')



                
    include includes/footer/footer


  include includes/scripts 
