extends layout/main/main
block title
  | reviews
block main
  .wrapper
    .content
      include includes/header/header
      .breadcrumbs
        .container
          ul  
            li 
              a(href="#") Главная  
            li Отзывы
      .reviews
        .container 
          h2.title Отзывы клиентов
          .description
            p В данном разделе собраны реальные отзывы от клиентов и партнеров <br> компании Silk Road Shipping. 
            .reviews__btn
              p Вы так же можете 
                a(href="#") оставить свой отзыв 
            
          .reviews__wrap-item
            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.
            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.

            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.
            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.

            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.
            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.

            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.
            .reviews__item
              .reviews__top
                .reviews__user
                  .reviews__icon
                    i.icon-profile
                  .reviews__name
                    span Артем
                .reviews__info
                  .reviews__location Бишкек
                  .reviews__date 20.02.2021
              .reviews__text
                p
                  | Необходимо было найти и доставить контейнеры в разные города. Silk Road Shipping справилась с задачей лучше всяких похвал. Огромное спасибо всей команде,  за профессиональный и качественный подход при работе с клиентами.





                
    include includes/footer/footer


  include includes/scripts 
